/* Common Styles Shared */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* navbar Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav >ul{
    display: flex;
    align-items: center;
}

nav li{
   list-style: none;
   margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.text-primary{
    color: orange ;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
}

/* header styles */

.header{
    background-color: #FFF8F3;
}

/* banner styles */

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 685px;
    margin-top: -70px;   
}